@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i");

header {
    background-color: #1e52ff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
    height: 35px;
    position: sticky;
    top: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff; /* Color de texto negro */
    margin-top: 10px;
    margin-left: 20px;
}

.nav a {
    color: #ffffff; /* Color de texto negro */
    text-decoration: none;
}

nav a:hover {
    color: #f3ff06; /* Color azul al hacer hover */
  }

/* Cambiar las redes sociales a forma de círculos */
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #1e52ff;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
}


.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

img{
    max-width: 100%;
}

.container-all{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate(0, 0, 0);
    transition: all 100ms;
    animation-name: autoplay;
    animation-duration: 8.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: #ffffff;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-items:hover{
    transform: scale(2);
}

.pagination-items img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-items:hover img{
    opacity: 1;
    transform: scale(1);
}

input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-items[for="1"]{
    background: #ffffff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-items[for="2"]{
    background: #ffffff;
}

input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-items[for="3"]{
    background: #ffffff;
}

input[id="4"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 3), 0, 0);
}

input[id="4"]:checked ~ .pagination .pagination-items[for="4"]{
    background: #ffffff;
}

@keyframes autoplay{
    25%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    50%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    75%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    } 

    100%{
        transform: translate3d(calc(-100% * 3), 0, 0);
    } 
}

.ins{
    width: 80%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body{
    background-color: #9be9ff;
}

p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
